[Unit]
Description=Pinosaur Ping Bot
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/kugelblitz/pinobot2/bot.py
[Install]
WantedBy=multi-user.target
